body {
    padding-top: 50px;
}

.no-js-overlay {
    position: absolute;
    margin: 2px auto;
    height: 75%;
    width: 100%;
    background: white;
    font-size: 25px;
    text-align: center;
    z-index: 1500;
}

.collapse.on {
    display: block;
}

.toolbar {
    position: absolute;
    z-index: 1000;
    padding: 5px;
}

.toolbar .well {
    background-color: #d0d0ca;
    border: 1px solid #bdb4b0;
    padding: 5px;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 3px #aeaeae;
}

.toolbar button.well {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-left: none;
}

.toolbar button.well i {
    color: #0051a8;
    margin: 3px;
}

.iconRight {
    position: absolute;
    left: 0;
}

.toolbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.toolbar ul > li > button {
    width: 40px;
    margin: 2px 0;
}

#toolbarCollapse {
    float: left;
}

button[title]:hover:after {
    content: attr(title);
    position: absolute;
    background-color: #616161;
    color: #fff;
    padding: 0 4px;
    border-radius: 5px;
    font-size: 0.9em;
    left: 60px;
    opacity: 0.7;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 3px;
    padding-right: 3px;
}
