<!DOCTYPE HTML>
<html ng-app="Percolator">
<head>
    <title>Percolator</title>
    <link rel="stylesheet" href="./libraries/css/mobile-angular-ui-base.css">
    <link rel="stylesheet" href="./libraries/css/mobile-angular-ui-hover.min.css">
    <link rel="stylesheet" href="./libraries/css/mobile-angular-ui-desktop.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<noscript class="no-js-overlay">
    Unfortunately, this site requires JavaScript. Please come back with JavaScript enabled / modern browser!
</noscript>
<div class="navbar navbar-inverse navbar-app navbar-absolute-top">
    <div class="navbar-brand navbar-brand-center">
        Percolator <i class="fa fa-bar-chart"></i>
    </div>

    <div class="btn-group pull-left">
        <div class="btn btn-navbar">
            <!-- left side of menu bar -->
        </div>
    </div>

    <div class="btn-group pull-right">
        <div class="btn btn-navbar">
            <!-- right side of menu bar -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="toolbar" ng-controller="toolbarController">
            <button type="button" class="well btn btn-primary btn-xs" ng-class="{iconRight: !toggleIcon()}" toggle
                    target="toolbarCollapse"
                    ng-click="changeToggle()">
                <i ng-show="toggleIcon()" class="fa fa-chevron-left"></i>
                <i ng-show="!toggleIcon()" class="fa fa-chevron-right"></i>
            </button>
            <div id="toolbarCollapse" toggleable active-class="on" default="active" class="well collapse">
                <ul>
                    <li>
                        <button ng-click="addObject()" type="button" class="btn btn-primary toolbarButton"
                                title="Object"><i class="fa fa-calendar-o"></i></button>
                    </li>
                    <li>
                        <button ng-click="deleteObject()" type="button" class="btn btn-primary toolbarButton"
                                title="Delete selected object"><i class="fa fa-times"></i></button>
                    </li>
                    <li>
                        <button ng-click="clearCanvas()" type="button" class="btn btn-primary toolbarButton"
                                title="Clear canvas"><i class="fa fa-trash-o"></i></button>
                    </li>
                    <li>
                        <button ng-click="addConnection()" type="button" class="btn btn-primary toolbarButton"
                                title="Connect objects">
                            <i class="fa fa-plug"></i></button>
                    </li>
                    <li>
                        <button ng-click="addSeperateLine()" type="button" class="btn btn-primary toolbarButton"
                                title="Seperate heap/stack"><i class="fa fa-bars fa-rotate-90"></i></button>
                    </li>
                    <li>
                        <button ng-click="addText()" type="button" class="btn btn-primary toolbarButton"
                                title="Text"><i class="fa fa-font"></i></button>
                    </li>
                    <li>
                        <a id="exportPNG">
                            <button ng-click="exportToPNG()" type="button" class="btn btn-primary toolbarButton"
                                    title="Export canvas to image (.png)"><i class="fa fa-picture-o"></i></button>
                        </a>
                    </li>
                    <li>
                        <button ng-click="newFeature()" type="button" class="btn btn-primary toolbarButton"
                                title="Export canvas to JSON"><i class="fa fa-file-text"></i></button>
                    </li>
                </ul>
            </div>
        </div>
        <canvas id="geheugenModel" ng-controller="canvasController" ng-init="initializeCanvas()"></canvas>
    </div>
    <div class="row">

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-route.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-touch.min.js"></script>
<script src="./libraries/js/mobile-angular-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js"></script>
<script src="js/toolbarController.js"></script>
<script src="js/canvasController.js"></script>
</body>
</html>
